.animate {
    animation: ripple 0.65s linear;
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(5);
    }
}

.tui-btn {
    @apply border rounded relative uppercase tracking-wide font-medium w-full overflow-hidden transition-all duration-100 flex items-center justify-center tui-default tui-states-default tui-border-default tui-btn-md;

    .ink {
        @apply absolute block rounded-full opacity-60;
        transform: scale(0);
    }

    &.tui-btn-xs {
        @apply px-1 h-6 text-xs;
        &.tui-btn-icon, &.tui-btn-fab {
            @apply w-8 h-8 px-0 py-0;
            &> * {
                @apply w-4 h-4;
            }
        }
        .tui-btn-loader {
            @apply w-4 h-4;
        }
    }

    &.tui-btn-sm {
        @apply px-2 h-8 text-sm;
        &.tui-btn-icon, &.tui-btn-fab {
            @apply w-10 h-10 px-0 py-0;
            &> * {
                @apply w-5 h-5;
            }
        }
        .tui-btn-loader {
            @apply w-5 h-5;
        }
    }

    &.tui-btn-md {
        @apply px-4 h-10;
        &.tui-btn-icon, &.tui-btn-fab {
            @apply w-12 h-12 px-0 py-0;
            &> * {
                @apply w-6 h-6;
            }
        }
        .tui-btn-loader {
            @apply w-6 h-6;
        }
    }

    &.tui-btn-lg {
        @apply px-5 h-12 text-lg;
        &.tui-btn-icon, &.tui-btn-fab {
            @apply w-14 h-14 px-0 py-0;
            &> * {
                @apply w-7 h-7;
            }
        }
        .tui-btn-loader {
            @apply w-7 h-7;
        }
    }

    &.tui-btn-xl {
        @apply px-6 h-14 text-xl;
        &.tui-btn-icon, &.tui-btn-fab {
            @apply w-16 h-16 px-0 py-0;
            &> * {
                @apply w-8 h-8;
            }
        }
        .tui-btn-loader {
            @apply w-8 h-8;
        }
    }

    &.tui-btn-squared {
        @apply rounded-none;
    }

    &.tui-btn-rounded {
        @apply rounded-2xl;
    }

    &.tui-btn-primary {
        @apply tui-primary tui-states-primary tui-border-primary;
    }

    &.tui-btn-secondary {
        @apply tui-secondary tui-states-secondary tui-border-secondary;
    }

    &.tui-btn-success {
        @apply tui-success tui-states-success tui-border-success;
    }

    &.tui-btn-danger {
        @apply tui-danger tui-states-danger tui-border-danger;
    }

    &.tui-btn-warning {
        @apply tui-warning tui-states-warning tui-border-warning;
    }

    &.tui-btn-info {
        @apply tui-info tui-states-info tui-border-info;
    }

    &.tui-btn-light {
        @apply tui-light tui-states-light tui-border-light;
    }

    &.tui-btn-dark {
        @apply tui-dark tui-states-dark tui-border-dark;
    }

    &.tui-btn-link {
        @apply border-0 tui-link tui-states-link hover:underline;
    }

    &.tui-btn-outlined {
        @apply bg-transparent;
    }

    &.tui-btn-text {
        @apply bg-transparent border-none;
    }

    &.tui-btn-plain {
        @apply bg-transparent border-none;
        &:hover {
            background-color: transparent !important;
        }
    }
}

.tui-alert {

}
